/* Basic Elements */

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

header,
main,
footer {
    margin: 1.25em auto;
    max-width: 1060px;
}

header,
footer {
    padding: 1em;
    text-align: center;
    background: royalblue;
    color: #fff;
}

@media only screen and (min-width: 32.5em) {

    header,
    footer {
        border-radius: 5px;
    }
}

h1,
h2 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: 400;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
    color: grey;
    text-align: left;
}

p {
    font-family: 'Montserrat', sans-serif;
}

a,
a:visited {
    color: blue;
}

/* Main Section and Lazy Loading Images */

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
}

main img {
    box-shadow: 5px 10px #888;
    margin: 0.5rem 0;
    filter: blur(0em);
    transition: filter 1s;
}

main img[data-src] {
    filter: blur(0.2em);
}

main picture {
    text-align: center;
}

/* Footer */

footer p {
    line-height: 1;
}

footer a, footer a:visited {
    color: #fff
}

/* Other */

.highlighted {
    color: yellow;
}

.returnlink {
    text-align: center;
}

h2.menuarea {
    text-align: center;
    border-bottom: 1px solid #efefef;
}

.boldname {
    font-weight: bold;
    font-size: 1em;
}

.subheading1 {
    font-size: 0.7em;
    margin-top: -2.2em;
    color: #333;
}