@media only screen and (min-width: 60em) {

	header,
	.footermenu,
	.copyrightdetails,
	.mainarticle,
	.topsection,
	.bottomsection {
		margin: 0 auto;
		max-width: 100%;
		padding: 1.5em 10em;
	}
	nav {
		margin: 0 auto;
		max-width: 100%;
		padding: 0 10em;
	}

	header img {
		max-width: 150px;
		height: auto;
    }

	.subheading1 {
		font-size: 1.2em;
	}

	.navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		flex: 1 1 auto;
	}

	.navigation a {
		text-align: center;
	}

	.navigation a:hover {
		color: white;
		background: rgb(2,0,36);
		background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(191,20,5,1) 0%, rgba(255,69,0,1) 69%);
	}

	.navigation li:first-child {
		display: none;
	}

	.active {
		color: #fff;
		background: rgb(2,0,36);
		background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(191,20,5,1) 0%, rgba(255,69,0,1) 69%);
	}

	h1 {
		font-size: 2.5em;
		text-transform: uppercase;
		color: #315c2b;
	}

	h2 {
		font-size: 2.2em;
	}

	h3 {
		font-size: 1.8em;
	}

	h4 {
		font-size: 1.5em;
	}

	.boldname {
		font-weight: bold;
		font-size: 1.2em;
	}

	.subheading1 {
		font-size: 1.5em;
	}
	
	.weathersummary {
		position: absolute;
		top: 50%;
		left: 50%;
		color: white;
		background-color: rgba(0, 0, 0, 0.3);
		max-width: 30%;
		padding: 0.8em;
		font-size: 1rem;
		transform: translate(-100%, 0);
	}
	.weathersummary h2,
	.weathersummary a {
    color: white;
}
}