@media only screen and (min-width: 37.5em) {

    header img {
        max-width: 100px;
    }

    .footermenu {
        grid-template-columns: 1fr 1fr;
        grid-gap: 100px;
    }

    .weathersummary {
        max-width: 50%;
        padding: 1em;
        font-size: 0.75rem;
    }

    .weathersummary p {
        display: block;
    }

    .active {
        color: darkgreen;
        background-color: #1f74d1;
    }

    .navigation a:hover {
        color: darkgreen;
        background-color: #1f74d1;
    }

}