@media only screen and (min-width: 32.5em) {

    header,
    footer {
        border-radius: 5px;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    main section:nth-child(2) {
        display: block;
    }

    main section:nth-child(3) {
        grid-column: span 2;
    }

    main section:nth-child(4) {
        grid-column: span 2;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    .boldname {
        font-weight: bold;
        font-size: 1.2em;
    }
    .subheading1 {
        font-size: 0.8em;
        margin-top: -2.5em;
    }
}